
<div class="p-grid p-col-12">

  <div *ngIf="person" class="p-grid p-col-12">
    <div class="p-col-1"></div>
    <div class="p-col-10 p-grid">
      <div class="p-col-3">
        <p-card header="" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
              <div *ngIf="person.image">
                <img style="max-height: 216px;" src="{{person.image}}">
              </div>
              <div *ngIf="!person.image">
                <img *ngIf="person.gender == 'male'" src="assets/images/avatar-male.png">
                <img *ngIf="person.gender == 'female'" src="assets/images/avatar-female.png">
              </div>
          </p-header>
        </p-card>
      </div>
      <div class="p-col-9">
        <p-card header="" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
          </p-header>
          <div>
            <div class="ui-card-subtitle ng-star-inserted"></div>
            <div class="ui-card-title ng-star-inserted">
              {{person.givenName}} {{person.familyName}} <span class="flag-icon flag-icon-{{person.hasCitizenship}}"></span>
            </div>
            <div>
              <div class="personDetails"> 
                <button pButton type="button" label="Id" class="ui-button-rounded field"></button> 
                <button pButton type="button" label="{{person.name}}" class="ui-button-rounded data"></button> 
              </div>
              <div class="personDetails">
                <button pButton type="button" label="Birth Date" class="ui-button-rounded field"></button> 
                <button pButton type="button" label="{{person.birthDate}}" class="ui-button-rounded data"></button> 
              </div>
              <div class="personDetails">
                <button pButton type="button" label="Birth Place" class="ui-button-rounded field"></button> 
                <button pButton type="button" label="{{person.birthPlace}}" class="ui-button-rounded data"></button> 
              </div>
              <div class="personDetails">
                <button pButton type="button" label="Gender" class="ui-button-rounded field"></button> 
                <button pButton type="button" label="{{person.gender}}" class="ui-button-rounded data"></button>
              </div>
              <div class="personDetails">
                <button pButton type="button" label="Citizenship" class="ui-button-rounded field"></button> 
                <button pButton type="button" label="{{person.hasCitizenship}}" class="ui-button-rounded data"></button>
              </div>
              <div class="personDetails">
                <button pButton type="button" label="Nationality" class="ui-button-rounded field"></button> 
                <button pButton type="button" label="{{person.hasNationality}}" class="ui-button-rounded data"></button>
              </div>
              <div class="personDetails"> 
                <button pButton type="button" label="Drivers License" class="ui-button-rounded" [icon]="person.hasDriversLicense == 'true' ? 'pi pi-check-circle success' : 'pi pi-times-circle danger'" iconPos="right"></button>
              </div>
            </div>
          </div>
          <p-footer>
          </p-footer>
        </p-card>
      </div>
    </div>
    <div class="p-col-1"></div>
  </div>

  <div *ngIf="person.curriculum" class="p-grid p-col-12">
    <div class="p-col-1"></div>
    <div class="p-col-10">

      <p-card header="" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <p-header>
        </p-header>
        <div>
          <div class="ui-card-subtitle ng-star-inserted">Last Update: {{person.curriculum.lastUpdate}}</div>
          <div class="ui-card-title ng-star-inserted">{{person.curriculum.cvTitle}}</div>
          <div clsss="personDetails" style="margin-bottom: 10px;">{{person.curriculum.cvDescription}}</div>
          <div class="p-grid">
            <div class="p-col-6">
              <div class="personDetails"> 
                <button pButton type="button" label="Active" class="" [icon]="person.curriculum.cvIsActive == 'true' ? 'pi pi-check-circle success' : 'pi pi-times-circle danger'" iconPos="right"></button> 
                <button pButton type="button" label="Confidential" class="" [icon]="person.curriculum.cvIsConfidential == 'true' ? 'pi pi-check-circle success' : 'pi pi-times-circle danger'" iconPos="right"></button> 
                <button pButton type="button" label="Copyright" class="" [icon]="person.curriculum.cvCopyright == 'true' ? 'pi pi-check-circle success' : 'pi pi-times-circle danger'" iconPos="right"></button> 
              </div>
            </div>
            <div class="p-col-6"></div>
          </div>
        </div>
        <p-footer>
        </p-footer>
      </p-card>

    </div>
    <div class="p-col-1"></div>
  </div>

  <div class="p-grid p-col-12">
    <div class="p-col-1"></div>

    <div class="p-col-10">

      <p-card header="" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <div>
          <div class="ui-card-subtitle ng-star-inserted"></div>
          <div class="ui-card-title ng-star-inserted">Educations</div>

          <p-table [value]="person.curriculum.hasEducation">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Type</th>
                      <th>Description</th>
                      <th>Major</th>
                      <th>Minor</th>
                      <th>Start Date</th>
                      <th>end Date</th>
                      <th>Studied In</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-edu>
                  <tr>
                      <td>{{edu.degreeType}}</td>
                      <td>{{edu.eduDescription}}</td>
                      <td>{{edu.eduMajor}}</td>
                      <td>{{edu.eduMinor}}</td>
                      <td>{{edu.eduStartDate}}</td>
                      <td>{{edu.eduGradDate}}</td>
                      <td>{{edu.studiedIn}}</td>
                  </tr>
              </ng-template>
          </p-table>

        </div>
      </p-card>

    </div>

    <div class="p-col-1"></div>
  </div>

  <div class="p-grid p-col-12">
    <div class="p-col-1"></div>

    <div class="p-col-10">

      <p-card header="" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <div>
          <div class="ui-card-subtitle ng-star-inserted"></div>
          <div class="ui-card-title ng-star-inserted">Courses</div>

          <p-table [value]="person.curriculum.hasCourse">
              <ng-template pTemplate="header">
                  <tr>
                      <th>title</th>
                      <th>Description</th>
                      <th>Start Date</th>
                      <th>end Date</th>
                      <th>Certification</th>
                      <th>Organized By</th>
                      <th>Course Link</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-course>
                  <tr>
                      <td>{{course.courseTitle}}</td>
                      <td>{{course.courseDescription}}</td>
                      <td>{{course.courseStartDate}}</td>
                      <td>{{course.courseFinishDate}}</td>
                      <td class="center">
                        <i [className]="course.isCertification == 'true' ? 'pi pi-check-circle success' : 'pi pi-times-circle danger'"></i>
                      </td>
                      <td>{{course.organizedBy}}</td>
                      <td class="center">
                        <a target="blank" href="{{course.courseURL}}">
                          <button pButton type="button" icon="pi pi-external-link" style="margin-right: .25em"></button>
                        </a>
                      </td>
                  </tr>
              </ng-template>
          </p-table>

        </div>
      </p-card>

    </div>

    <div class="p-col-1"></div>
  </div>

  <div class="p-grid p-col-12">
    <div class="p-col-1"></div>

    <div class="p-col-10">

      <p-card header="" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <div>
          <div class="ui-card-subtitle ng-star-inserted"></div>
          <div class="ui-card-title ng-star-inserted">Skills</div>

          <p-table [value]="person.curriculum.hasSkill">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Name</th>
                      <th>Level</th>
                      <th>Years Experience</th>
                      <th>Type</th>
                      <th>Last Used</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-skill>
                  <tr>
                      <td>{{skill.skillName}}</td>
                      <td>{{skill.skillLevel}}</td>
                      <td>{{skill.skillYearsExperience}}</td>
                      <td>{{skill.type}}</td>
                      <td>{{skill.skillLastUsed}}</td>
                  </tr>
              </ng-template>
          </p-table>

        </div>
      </p-card>

    </div>

    <div class="p-col-1"></div>
  </div>

  <div class="p-grid p-col-12">
    <div class="p-col-1"></div>

    <div class="p-col-10">

      <p-card header="" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <div>
          <div class="ui-card-subtitle ng-star-inserted"></div>
          <div class="ui-card-title ng-star-inserted">References</div>

          <ul>
            <li *ngFor="let reference of person.curriculum.hasReference">
              <button pButton type="button" label="{{reference.referenceBy}}" style="margin-right: .25em" (click)="searchPerson(reference.referenceBy)"></button>
            </li>
          </ul>

        </div>
      </p-card>

    </div>

    <div class="p-col-1"></div>
  </div>
</div>
