
<div class="p-grid forms-grid">
  
  <div class="p-col-1"></div>
  <div class="p-col-5">
    <span class="ui-float-label p-col-4">
      <input id="search" type="text" size="30" pInputText (keyup)="filterPersons($event.target.value)" name="search"> 
      <label for="search">search</label>
    </span>
  </div>
  <div class="p-col-6"></div>

</div>

<div class="p-grid p-col-12">

  <div class="p-col-1"></div>
  <div class="p-col-10 p-grid">
    <div *ngFor="let person of filteredPersons; let i = index" class="p-col-4">
      <p-card header="" subheader="" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
          <div *ngIf="person.image">
            <img style="max-height: 216px;" src="{{person.image}}">
          </div>
          <div *ngIf="!person.image">
            <img *ngIf="person.gender == 'male'" src="assets/images/avatar-male.png">
            <img *ngIf="person.gender == 'female'" src="assets/images/avatar-female.png">
          </div>
        </p-header>
        <div>
          <div class="ui-card-subtitle ng-star-inserted"></div>
          <div class="ui-card-title ng-star-inserted">{{person.givenName}} {{person.familyName}} <span class="flag-icon flag-icon-{{person.hasCitizenship}}"></span></div>
          <div><p><span>Id: </span>{{person.name}}</p></div>
          <div><p><span>Name: </span>{{person.givenName}}</p></div>
          <div><p><span>Surname: </span>{{person.familyName}}</p></div>
          <div><p><span>Birth date: </span>{{person.birthDate}}</p></div>
          <div><p><span>Gender: </span>{{person.gender}}</p></div>
        </div>
        <p-footer>
          <button pButton type="button" label="Curriculum" iconPos="right" icon="pi pi-external-link" style="margin-right: .25em" (click)="searchPerson(person)"></button>
        </p-footer>
      </p-card>
    </div>
  </div>
  <div class="p-col-1"></div>

</div>

  

