/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,400;1,600&display=swap');
*{font-family: 'Montserrat', sans-serif;}

div.success{
        background-color: #43a047;
}

i.success{
       color: #43a047;
}

div.danger{
        background-color: #e53935;
}

i.danger{
        color: #e53935;
}

td.center{
        text-align: center;
}

.ui-float-label>label{
        left: 1em !important;
}
body .ui-table .ui-table-tbody > tr > td{
        overflow-wrap: anywhere;
}

body .ui-menubar .ui-menuitem-link .ui-menuitem-text,
body .ui-menubar .ui-menuitem-link .ui-menuitem-icon,
body .ui-menubar .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text,
body .ui-menubar .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-icon,
body .ui-menubar .ui-menuitem-link:hover .ui-menuitem-text,
body .ui-menubar .ui-menuitem-link:hover .ui-menuitem-icon,
body .ui-menubar .ui-menuitem-link.ui-menuitem-link-active:hover .ui-menuitem-text {
        color: #fff !important;
}
body .ui-menubar .ui-menuitem-link.ui-menuitem-link-active{
        background-color: #31a5ff !important;
        color: #fff;
}
body .ui-menubar .ui-menuitem-link:hover,
body .ui-menubar .ui-menuitem-link.ui-menuitem-link-active:hover,
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link{
        background-color: #31a5ff !important;
        color: #fff;
}

body .ui-menubar{
        background-color: #007ad9;
        border: none;
}

body .ui-menubar .ui-menuitem-link:focus{
        border: none !important;
        box-shadow: none !important;
}

.personDetails{
        margin-bottom: 5px;
}

.personDetails .ui-button{
        margin-right: 3px;
        z-index: 11;
}

.personDetails .ui-button.field{
        margin-right: 0px;
        z-index: 11;
}

.personDetails .ui-button.data{
        margin-left: -30px;
        z-index: 10;
        padding-left: 30px;
        background-color: white;
        color: #007ad9;
}
