<div class="p-grid p-col-12">
    <div class="p-col-2"></div>
    <div class="form p-grid p-col-8">
        <h1>Nuovo Curriculum Vitae</h1>
        <form class="p-grid p-col-12" [formGroup]="newCvForm" (ngSubmit)="addCv(newCvForm.value)" >

            <p-card class="p-col-12" header="Person" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
                <div class="person p-grid p-col-12">
                    <span class="ui-float-label p-col-4">
                        <input id="float-input" type="text" size="30" pInputText formControlName="codice_fiscale"> 
                        <label for="float-input">Codice Fiscale</label>
                    </span>
                    <span class="ui-float-label p-col-4">
                        <input id="float-input" type="text" size="30" pInputText formControlName="name"> 
                        <label for="float-input">Name</label>
                    </span>
                    <span class="ui-float-label p-col-4">
                        <input id="float-input" type="text" size="30" pInputText formControlName="surname"> 
                        <label for="float-input">surname</label>
                    </span>
                    <p-dropdown class="p-col-4" [options]="places" [filter]="true" placeholder="Birth Place" formControlName="birthPlace"></p-dropdown>
                    <p-dropdown class="p-col-4" [options]="Citizenships" [filter]="true" placeholder="Citizenship" formControlName="citizenship"></p-dropdown>
                    <span class="ui-float-label p-col-4">
                        <input id="float-input" type="text" size="30" pInputText formControlName="hasNationality"> 
                        <label for="float-input">Nationality</label>
                    </span>
                    <span class=" p-col-4">
                        <input id="float-input" type="number" size="30" pInputText formControlName="noOfChildren" placeholder="Number of children"> 
                    </span>
                    <div class="p-col-4">
                        <h3>Birth Date</h3>
                        <p-calendar formControlName="birthDate" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2030"></p-calendar>
                    </div>
                    <div class="p-grid p-col-4">
                        <span class="p-col-3">Gender:</span>
                        <div class="p-grid p-col-9">
                            <div class="p-col-5">
                                <p-radioButton name="group1" value='base_rdfs:Male' label="Male" inputId="opt1" formControlName="gender"></p-radioButton>
                            </div>
                            <div class="p-col-7">
                                <p-radioButton name="group1" value='base_rdfs:Female' label="Female" inputId="opt2" formControlName="gender"></p-radioButton>
                            </div>
                        </div>
                        <div class="p-grid p-col-12">
                            <p-checkbox binary="true" formControlName="driven_license" label="Driven License"></p-checkbox>
                        </div>
                    </div>
                    <span class="ui-float-label p-col-8">
                        <input id="float-input" type="text" size="60" pInputText formControlName="image"> 
                        <label for="float-input">Image URL</label>
                    </span>
                    <p-dropdown class="p-col-4" [options]="maritalStatus" [filter]="false" placeholder="marital status" formControlName="maritalStatus"></p-dropdown>
                    
                </div>
            </p-card>

            <p-card class="p-col-12" header="Details" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
                <div class="p-grid p-col-12">
                    <span class="ui-float-label p-col-6">
                        <input id="float-input" type="text" size="40" pInputText formControlName="title"> 
                        <label for="float-input">Title</label>
                    </span>
                    <div class="p-col-2">
                        <p-checkbox binary="true" formControlName="active" label="Active"></p-checkbox>
                    </div>
                    <div class="p-col-2">
                        <p-checkbox binary="true" formControlName="confidential" label="Confidential"></p-checkbox>
                    </div>
                    <div class="p-col-2">
                        <p-checkbox binary="true" formControlName="copyright" label="Copyright"></p-checkbox>
                    </div>
                    <textarea class="p-col-12" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
                </div>
            </p-card>
            
            <p-card formArrayName="educations" class="p-col-12" header="Educations" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
                <div *ngFor="let edu of e.controls; let i = index" class="p-grid p-col-12">
                    <div [formGroupName]="i" class="p-grid p-col-12">
                        <p-dropdown class="p-col-3" [options]="degrees" placeholder="Degree Type" formControlName="degreeType"></p-dropdown>
                        <span class="ui-float-label p-col-9">
                            <input id="float-input" type="text" size="90" pInputText formControlName="eduDescription"> 
                            <label for="float-input">Description</label>
                        </span>
                        <div class="p-col-12 p-md-4">
                            <h3>Start Date</h3>
                            <p-calendar formControlName="eduStartDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2030"></p-calendar>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <h3>Graduation Date</h3>
                            <p-calendar formControlName="eduGradDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2030"></p-calendar>
                        </div>
                        <div class="p-col-4"></div>
                        <span class="ui-float-label p-col-4">
                            <input id="float-input" type="text" size="30" pInputText formControlName="eduMajor"> 
                            <label for="float-input">Major</label>
                        </span>
                        <span class="ui-float-label p-col-4">
                            <input id="float-input" type="text" size="30" pInputText formControlName="eduMinor"> 
                            <label for="float-input">Minor</label>
                        </span>
                        <p-dropdown class="p-col-4" editable="true" [options]="organizations" placeholder="Organization" formControlName="studiedIn"></p-dropdown>
                        <hr style="width: 100%;">
                    </div>
                </div>
                <button pButton type="button" icon="pi pi-plus" value="button" (click)="addEducation()"></button>
            </p-card>

            <p-card formArrayName="courses" class="p-col-12" header="Courses" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
                <div *ngFor="let course of c.controls; let i = index" class="p-grid p-col-12">
                    <div [formGroupName]="i" class="p-grid p-col-12">
                        <span class="ui-float-label p-col-4">
                            <input id="float-input" type="text" size="30" pInputText formControlName="courseTitle"> 
                            <label for="float-input">Title</label>
                        </span>
                        <span class="ui-float-label p-col-8">
                            <input id="float-input" type="text" size="70" pInputText formControlName="courseDescription"> 
                            <label for="float-input">Description</label>
                        </span>
                        <div class="p-col-4">
                            <h3>Start Date</h3>
                            <p-calendar formControlName="courseStartDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2030"></p-calendar>
                        </div>
                        <div class="p-col-4">
                            <h3>Finish Date</h3>
                            <p-calendar formControlName="courseFinishDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2030"></p-calendar>
                        </div>
                        <div class="p-col-4">
                            <h3>Organize By</h3>
                            <p-dropdown editable="true" [options]="organizations" formControlName="organizedBy"></p-dropdown>
                        </div>
                        <div class="p-col-4">
                            <p-checkbox binary="true" formControlName="isCertification" label="Certification"></p-checkbox>
                        </div>
                        <span class="ui-float-label p-col-8">
                            <input id="float-input" type="text" size="70" pInputText formControlName="courseURL"> 
                            <label for="float-input">Course URL</label>
                        </span>
                        <hr style="width: 100%;">
                    </div>
                </div>
                <button pButton type="button" icon="pi pi-plus" value="button" (click)="addCourse()"></button>
            </p-card>

            <p-card formArrayName="skills" class="p-col-12" header="Skills" subheader="" [style]="{width: '100%'}" styleClass="ui-card-shadow">
                <div *ngFor="let skill of s.controls; let i = index" class="p-grid p-col-12">
                    <div [formGroupName]="i" class="p-grid p-col-12">
                        <span class="ui-float-label p-col-5">
                            <input id="float-input" type="text" size="30" pInputText formControlName="skillName"> 
                            <label for="float-input">Name</label>
                        </span>
                        <span class="ui-float-label p-col-5">
                            <input id="float-input" type="number" size="30" pInputText formControlName="skillYearsExperience"> 
                            <label for="float-input">Years of Experience</label>
                        </span>
                        <div class="p-col-4">
                            <h3>Level</h3>
                            <p-dropdown [options]="skillLevels" formControlName="skillLevel"></p-dropdown>
                        </div>
                        <div class="p-col-4">
                            <h3>Type</h3>
                            <p-dropdown [options]="skillTypes" formControlName="skillType"></p-dropdown>
                        </div>
                        <div class="p-col-4">
                            <h3>LastUsed</h3>
                            <p-calendar formControlName="skillLastUsed" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2030"></p-calendar>
                        </div>
                        <hr style="width: 100%;">
                    </div>
                </div>
                <button pButton type="button" icon="pi pi-plus" value="button" (click)="addSkill()"></button>
            </p-card>

            <button class="p-col-12" pButton label="Create Curriculum vitae" type="submit" value="submit"></button>
        </form>
    </div>
<div class="p-col-2"></div>
</div>