<div class="p-grid p-col-12">
  <div class="p-grid p-col-12">
      <div class="p-col-4 p-md-4">

      </div>
      <div class="p-col-4 p-md-4">
          <h3>SPARQL Query Editor</h3>
          <form class="p-grid" [formGroup]="queryForm" (ngSubmit)="runQuery(queryForm.value)">
              <textarea class="p-col-12" pInputTextarea name="query" formControlName="query"></textarea>
              <button pButton type="submit" label="Run Query" ></button>
          </form>
      </div>
      <div class="p-col-4 p-md-4">
      
      </div>
  </div>

  <div class="p-grid p-col-12">
      <div class="p-col-1">
      </div>
      <div class="p-col-10">
        <table>
          <tr>
            <th *ngFor="let key of keys; let i = index">{{key}}</th>
          </tr>
          <tr *ngFor="let element of dataSource; let i = index">
            <td *ngFor="let key of keys; let i = index">{{ element[key].value }}</td>
          </tr>
        </table>
      </div>
      <div class="p-col-1">
      </div>
  </div>
</div>